h1,
p {
    font-family: Lato;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.active {
    text-decoration: none;
    color: blue;
    font-size: 40px;
}

.inputMessage{
    width: 60%;
    padding: 4px;
    height: 30px;

}